<h1>Dados usuario</h1>
<p><strong>Nome:</strong> {{user.name}}</p>
<p><strong>Profissão:</strong> {{user.occupation}}</p>
<p><strong>Newsletter:</strong> {{user.newsletter}}</p>
<h1>Endereços</h1>
<div class="container-addresses">
    {{#each userAddresses.addresses}}
        <div>
            <h2>Endereço</h2>
            <p><strong>Rua:</strong> {{this.street}}</p>
            <p><strong>Número:</strong> {{this.number}}</p>
            <p><strong>Cidade:</strong> {{this.city}}</p>
        </div>
    {{/each}}
</div>