{{#if search}}
    <h1>Você está buscando por: {{search}}</h1>
{{else}}
    <h1>Todos os pensamentos</h1>
{{/if}}
{{#if toughtsQty}}
    <h2>Foram encontrados {{toughtsQty}} resultados</h2>
{{else}}
    <h2>Nenhum resultado encontrado</h2>
{{/if}}
<form action="/" method="GET">
    <input type="text" name="search" id="search" value="{{search}}" placeholder="Está buscando por algo?">
    <input type="hidden" name="order" value="{{order}}">
    <button type="submit">Buscar</button>
</form>
<div class="order-container">
    <span>Ordernar por: </span>
    <form action="/" method="GET">
        <input type="hidden" name="search" value="{{search}}">
        <select name="order" id="order">
            <option value="new">Mais recentes</option>
            <option value="old">Mais antigos</option>
        </select>
        <button type="submit">Ordenar</button>
    </form>
    <a href="/"><button>Limpar</button></a>
</div>
<ul class="toughts">
    {{#each toughts}}
        <li>{{this.title}} - Criado por {{this.User.name}}</li>
    {{/each}}
</ul>