<h1>Dados sobre o livro</h1>
{{#each data}}
    <p>ID: {{this.id}}</p>
    <p>TÍTULO: {{this.title}}</p>
    <p>QUANTIDADE DE PÁGINAS: {{this.pageqty}}</p>
    <a href="/livros/editar/{{this.id}}">Editar</a>
    <form action="/livros/deletar/{{this.id}}" method="POST" style="display: inline-block;">
        <button type="submit">DELETAR</button>
    </form>
{{/each}}
<a href="/">Início</a>