<ul>
    {{#each newTasks}}
        <li class="task">
            {{#if this.done}}
                <a class="title finished" href="/tasks/{{this.id}}">{{this.title}}</a>
            {{else}}
                <a class="title" href="/tasks/{{this.id}}">{{this.title}}</a>
            {{/if}}
            <div class="task-icons">
                <form action="/tasks/updateStatus" method="POST">
                    <input type="hidden" name="id" id="id" value="{{this.id}}">
                    <button type="submit">
                        <i class="bi bi-check2"></i>
                    </button>
                </form>
                <a href="/tasks/edit/{{this.id}}"><i class="bi bi-pencil-square"></i></a>
                <form action="/tasks/remove" method="POST">
                    <input type="hidden" name="id" id="id" value="{{this.id}}">
                    <button type="submit">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </form>
            </div>
        </li>
    {{/each}}
</ul>